body { color: red; }
body { color: red; }
body { color: red; }
body { color: red; }
body { color: red; }
body { color: red; }
body { color: red; }
body { color: red; }
body { color: red; }
body { color: red; }
body { color: red; }
body { color: red; }
body { color: red; }
body { color: red; }
body { color: red; }
body { color: red; }
body { color: red; }
body { color: red; }
body { color: red; }
body { color: green; }
h1 { color: red; }
h1 { color: red; }
h1 { color: red; }
h1 { color: red; }
h1 { color: red; }
h1 { color: red; }
h1 { color: red; }
h1 { color: red; }
h1 { color: red; }
